<div class="card">
 <div class="card-body">


  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta dignissimos, explicabo reiciendis nesciunt
   perspiciatis aperiam error quam natus, quod qui inventore nobis porro tempore beatae voluptas, eligendi voluptatibus
   adipisci?</p>
 </div>
</div>