<div class="jumbotron-mt-4">
 <h1 class="display-4">Notes App Node Js Mongo DB</h1>
 <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima soluta nisi reprehenderit illo dicta! Reiciendis, saepe enim dolores animi consectetur aspernatur sint, et impedit, commodi sunt ipsa ex sequi?</p>
 <hr class="my-4">
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore harum, voluptate ad quo ab laborum quas at ducimus officiis hic et sapiente perferendis tempora cumque nam fugit id! Aut, sint.</p>
 <a href="http://www.google.com" class="btn btn-primary 
 btn-lg">Google</a>
 
</div>